<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
	<head>
	 <title> Cricstudio </title>
	 <%= stylesheet_link_tag "site" %>
	<%= javascript_include_tag :defaults %>
	</head>

	<body>
	 <div id="whole_page">
	  <div id= "header">CRIC STUDIO</div>
	  <div id= "nav">
		<a href='/site/index'>Home</a> |
		<a href='/site/images'>Images</a> |
 		<a href='/site/videos'>Videos</a> |
		<a href='/site/contactus'>Contact Us</a> |
		<a href='/tweet/user_page'>Tweet Us</a> |	

<% if user_signed_in? %>
  <div>Signed in as... <%= current_user.email %> (<%= button_to 'Logout', destroy_user_session_path, :method => :delete %>)</div>
<% else %>
  <%= link_to 'Register', new_user_registration_path %> | <%= link_to 'Sign in', new_user_session_path %>
<% end %>
		</div>

	<div id= "content">


<%= yield %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

</body>
</html>
